@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;

  /* Colors */
  --color-darkgray: #ababab;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #282828;

  /* Border radiuses */
  --br-7xs: 6px;
}

